BB3 Site Separator
Written by Sebastian DiGeronimo

**Important**
This script should read a BB3 file that contains many stations (sometimes many cruises) and separate them into stations. The file format is MBON_MM_DD_YYYYTHHmmss_site_ID (i.e MBON_07_01_20T183009_site_KW2). 

I've tried to circumvent errors by adding exceptions to the list, some examples of errors:
* 01/07/20	10:25:31	470	118	532	128	650	170	536
  01/07/20	10:25:32	470	115	532	147	65:34	470	115	532	136	650	201	536 <-- error

* 01/07/20	10:25:59	470	120	532	200	650	165	534 
  01/07/20	1:00	470	132	532	196	650	450	534 <-- error
  
* 01/07/20	10:26:52	470	113	532	127	650	159	532
  01/07/20	107/20	10:26:56	470	124	532	127	650	155	532 <-- error
  
* 01/07/20	10:27:19	470	107	532	145	650	236	532
  01/07/20	10:27:20	470	110	532	 <-- error
 
* 01/07/20	11:34:51	470	54	532	80	650	364	536
  01/07/20	1132	82	650	362	536 <-- error
  
* 01/07/20	11:36:12	470	92	532	102	650	118	533
  0	650	149	534 <-- error
  
Some problems I don't know how to solve is if the time stamp jumps by more than 5 min thus creating a new station file, when the line after goes back to the previous file:
01/07/20	11:36:36	470	91	532	92	650	113	533
01/07/20	11:46:37	470	91	532	98	650	110	533 <-- this will create a new file, even though its just an error 
01/07/20	11:36:38	470	92	532	94	650	108	532

In [17]:
from datetime import timedelta
from datetime import datetime
import os
from parse import parse
from IPython.display import display
import pandas
import numpy as np

**Definition** to check if a file path for a cruise exist already, if not will make one

In [18]:
def ensure_dir(file_path):
    directory = os.path.dirname(file_path)
    if not os.path.exists(directory):
        os.makedirs(directory)

You may customize the folder of input, usually should be a cruise ID (i.e. WS18256 for Walton Smith 2018 Julian Day)

In [19]:
# folder_cust = input("do you want a custom folder name (yes|y|YES)? (default is BB3/)")
# if folder_cust == "yes" or folder_cust == "y" or folder_cust == "YES":
#     folder_name = input("what do you want directory to be?") + '/'
# else:
#     folder_name = 'BB3/'        # comment out if want to costumize folder
# ensure_dir(folder_name)

folder_name = 'BB3/'        # comment out if want to costumize folder
ensure_dir(folder_name)

This sets the format of the datatime that is read in from the file as well as other parameters for later

In [20]:
# sets datetime as month/day/year hour:minute:second (i.e 7/25/2018 13:35:23)
dt_fmt = "%m/%d/%y  %H:%M:%S"

# is a place holder to use the previous date to check against
dt_prev = ""

# place holder for the file name to be created if has not a read a new station
file_name = ''

# format to read each line to check for datetime due to errors in lines when downloading
# if does not match this will ignore that line
line_fmt = (
    '{:2d}/{:2d}/{:2d}	{:2d}:{:2d}:{:2d}	'
    '{:3d}	{:4d}	{:3d}	{:4d}	{:3d}	{:4d}	{:3d}'
)

This allows you to choose a file to run. 
**This could be improved by having it search all files in a directory within the else statement** Currently, you need can put in file *a prior*

In [21]:
# choose_file = input("do you want a specific file ran (yes|y|YES)?")
# if choose_file == "yes" or choose_file == "y" or choose_file == "YES":
#     sample_file_name = input('Whats the file name?')
# else:
#     sample_file_name = 'WS20006_full_download.raw'

# # open sample file
# f = open(sample_file_name,"r")

Read a file

In [81]:
FILEPATH = "../../data/WS19266_BB3.raw"

# read the tab-separated-values file (`.raw` = `.tsv`)
bb3_df = pandas.read_csv(
    FILEPATH, 
    sep='\s+',
    on_bad_lines='skip',  # default is 'error'. can also use 'warn' and 'skip'
    names=["date","time","470nm", "470nm_data","532nm", "532nm_data", "650nm", "650nm_data", "therm"],
    skiprows=1,
    # na_filter = 'TRUE',
    # TODO: use more features to better filter
    # dtype={"470nm":np.int64, "470nm_data":np.int64,"532nm":np.int64, "532nm_data":np.int64, "650nm":np.int64, 
           # "650nm_data":np.int64, "therm":np.int64},  # this should fix a lot
    parse_dates = {'dt':["date", "time"]}  # this should parse the two columns together as one datetime
    # date_parser=lambda x, y: pandas.to_datetime([x,y], format=dt_fmt, errors = 'coerce') # did not work
    # keep_default_na = 'FALSE'
)

# convert datetime column to type datetime[ns], will convert non-match to NaT
bb3_df['dt']= pandas.to_datetime(
    bb3_df['dt'], 
    errors = 'coerce',
    format = dt_fmt,
    exact = True
)

# drop rows with NaN or NaT, this will remove any rows with bad datetimes 
bb3_df = bb3_df.dropna()

# convert the dt col from string to datetime object
bb3_df.index = bb3_df.dt

# 
bb3_df.isin({"470nm":"470","532nm":"532","650nm":"650"})


# change object to float
# bb3_df = pandas.bb3_df[ "470nm_data","532nm_data","650nm_data"].convert_dtypes(convert_floating=True)

# TODO: so errors are still present, but they might be easier to deal with in this format. 
# may be easier to have it check line by line that each tab is in the specified format

# test.to_csv("test.csv", sep = '\t', index=False)
bb3_df.to_csv("test.csv", sep = '\t', index=True)

# now you can use the pandas dataframe
SEPARATOR = "="*100  # this creates big string like `=====================` with 302 `=` characters
display(SEPARATOR)
display(bb3_df.describe(exclude = 'datetime64[ns]'))
display(SEPARATOR)
display(bb3_df.info())
display(SEPARATOR)
display(bb3_df)

'===================================================================================================='

        470nm 470nm_data  532nm 532nm_data  650nm 650nm_data  therm
count   30623      30623  30623      30623  30623      30623  30623
unique     77       2733    197       3005    305       3579    486
top       470       4130    532       4130    650       4130    520
freq    30536       2824  30311       2193  30010       6661   2397

'===================================================================================================='

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30623 entries, 2019-07-29 12:06:15 to 2019-09-29 17:36:12
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dt          30623 non-null  datetime64[ns]
 1   470nm       30623 non-null  object
 2   470nm_data  30623 non-null  object
 3   532nm       30623 non-null  object
 4   532nm_data  30623 non-null  object
 5   650nm       30623 non-null  object
 6   650nm_data  30623 non-null  object
 7   therm       30623 non-null  object
dtypes: datetime64[ns](1), object(7)
memory usage: 2.1+ MB

None

'===================================================================================================='

,dt,470nm,470nm_data,532nm,532nm_data,650nm,650nm_data,therm
dt,,,,,,,,
2019-07-29 12:06:15,2019-07-29 12:06:15,470,2153,532,2043,650,4130,536
2019-07-29 12:06:16,2019-07-29 12:06:16,470,2151,532,2034,650,4130,536
2019-07-29 12:06:17,2019-07-29 12:06:17,470,2121,532,1994,650,4130,535
2019-07-29 12:06:18,2019-07-29 12:06:18,470,2119,532,1992,650,4130,535
2019-07-29 12:06:19,2019-07-29 12:06:19,470,2117,532,1991,650,4130,535
...,...,...,...,...,...,...,...,...
2019-09-29 05:10:20,2019-09-29 05:10:20,470,2045,532,1537,650,4130,519
2019-09-29 05:10:21,2019-09-29 05:10:21,470,1405,532,1480,650,4130,519
2019-09-29 05:10:22,2019-09-29 05:10:22,470,1626,532,1484,650,41370,121
2019-09-29 17:36:11,2019-09-29 17:36:11,470,120,532,87,650,853,527
2019-09-29 17:36:12,2019-09-29 17:36:12,470,121,532,79,650,847,526

In [105]:
# # combine date & time columns into one in ISO8601 format
# bb3_df['dt'] = bb3_df['date'] + ' ' + bb3_df['time']

# # drop cols we don't need
# bb3_df_simplified = bb3_df.drop(['date', 'time'], axis=1)

# # convert the dt col from string to datetime object
# bb3_df_simplified.index = pandas.to_datetime(bb3_df_simplified.dt, errors='coerce')

# display(SEPARATOR)
# print("\n=== clean df w/ new 'dt' col:")
# print(bb3_df_simplified.head())

# # note how pandas automatically started using dt as the index
# bb3_df_test= pandas.to_numeric(bb3_df,errors = 'coerce')

# bb3_df[["470nm_data","532nm_data","650nm_data"]] = bb3_df[["470nm_data","532nm_data","650nm_data"]].astype(np.int16, errors='raise')

bb3_df[["470nm","532nm","650nm"]] = bb3_df[["470nm","532nm","650nm"]].isin({"470nm":["470"],"532nm":["532"],"650nm":["650"]})
display(bb3_df)

,dt,470nm,470nm_data,532nm,532nm_data,650nm,650nm_data,therm
dt,,,,,,,,
2019-07-29 12:06:15,2019-07-29 12:06:15,False,2153,False,2043,False,4130,536
2019-07-29 12:06:16,2019-07-29 12:06:16,False,2151,False,2034,False,4130,536
2019-07-29 12:06:17,2019-07-29 12:06:17,False,2121,False,1994,False,4130,535
2019-07-29 12:06:18,2019-07-29 12:06:18,False,2119,False,1992,False,4130,535
2019-07-29 12:06:19,2019-07-29 12:06:19,False,2117,False,1991,False,4130,535
...,...,...,...,...,...,...,...,...
2019-09-29 05:10:20,2019-09-29 05:10:20,False,2045,False,1537,False,4130,519
2019-09-29 05:10:21,2019-09-29 05:10:21,False,1405,False,1480,False,4130,519
2019-09-29 05:10:22,2019-09-29 05:10:22,False,1626,False,1484,False,41370,121
2019-09-29 17:36:11,2019-09-29 17:36:11,False,120,False,87,False,853,527
2019-09-29 17:36:12,2019-09-29 17:36:12,False,121,False,79,False,847,526

In [ ]:
display(bb3_df_simplified.describe())

bb3_df_clean = bb3_df_simplified
bb3_df_clean = bb3_df_clean.drop('dt', axis=1)
# == filter out the rows that have obviously bad data
print(f"pre-filtered #rows:{len(bb3_df_clean)}")
# bb3_df_clean = bb3_df_clean[bb3_df_clean['470nm'] == '470']
# print(f"470-filtered #rows:{len(bb3_df_clean)}")
bb3_df_clean = bb3_df_clean[
    (bb3_df_clean['470nm'] == '470') &
    (bb3_df_clean['532nm'] == '532') &
    (bb3_df_clean['650nm'] == '650')
]
print(f"multi-filtered #rows:{len(bb3_df_clean)}")

bb3_df_clean = bb3_df_clean.dropna()

print('\n\npost-obvious wrong filter:')
display(bb3_df_clean.describe())

# === convert to numeric
for col in ['470nm_data', '532nm_data', '650nm_data', 'mystery_column']:
    bb3_df_clean[col] = pandas.to_numeric(bb3_df_clean[col], errors='coerce')

bb3_df_clean = bb3_df_clean.drop(['470nm', '532nm', '650nm'], axis=1)
    
print('\n\npost-drop & convert:')
display(bb3_df_clean.describe(include='all'))
display(bb3_df_clean.info())

# === filter out data outside known bounds of 12-bit sensors
SENSOR_MIN = 0
SENSOR_MAX = 4095
bb3_df_clean = bb3_df_clean[
    (bb3_df_clean['470nm_data'] > SENSOR_MIN) &
    (bb3_df_clean['470nm_data'] < SENSOR_MAX) &
    (bb3_df_clean['532nm_data'] > SENSOR_MIN) &
    (bb3_df_clean['532nm_data'] < SENSOR_MAX) &
    (bb3_df_clean['650nm_data'] > SENSOR_MIN) &
    (bb3_df_clean['650nm_data'] < SENSOR_MAX) &
    (bb3_df_clean['mystery_column'] > SENSOR_MIN) &
    (bb3_df_clean['mystery_column'] < SENSOR_MAX)

]
print('\n\npost-bounds filter:')
display(bb3_df_clean.describe(include='all'))



bb3_df_clean.plot()

## Don't Use ##
will be useful later

In [ ]:
# use readline() to read the first line
line_of_text = f.readline()

while line_of_text:
        parsed_line = parse(line_fmt, line_of_text)
        # print(parsed_line)
        # this checks if the date is in correct format, assumes data will be correct if date is
        try:
            time_of_sample = "{}/{}/{} {}:{}:{}".format(
                parsed_line[0], parsed_line[1], parsed_line[2],
                parsed_line[3], parsed_line[4], parsed_line[5]
            )
            dt = datetime.strptime(time_of_sample, dt_fmt)
        except Exception:  # the errors involves looping the error 46 times, then continuing
            #print(time_of_sample)
            # puts error lines into a file
            error_file = open('files_with_errors.txt', "a")
            error_file.write(line_of_text)
            line_of_text = f.readline()
            continue

        # if open dt_prev, will take current dt and subtract 1 sec to use a comparison
        if dt_prev == "":
            dt_prev = dt - timedelta(seconds=1)
        dt_current = dt

        # checks to make sure time is not negative, would mean error 
        #(i.e. if subtract 2 times and the results is negative time, 1:00:00 - 2:00:00 = -1:00:00)
        
        # TODO: make a way to check the next two to see if the time difference goes back down
        #  an error where the time will jump up more than 10 minutes but then jump back down,
        #  so starts to create another file, but then the time is negative (IGNORE if doesn't make sense)
        if dt_current - dt_prev < timedelta(milliseconds=0):
            print(dt_current, dt_prev) # shows the time of error and will help with diagnosing later
            error_file = open('files_with_errors.txt', "a")
            error_file.write(line_of_text)

            line_of_text = f.readline()
        
        # will look at one line by line to see if they are 5 mins apart. I assume that if > 5 mins will be a new site
        elif dt_current - dt_prev < timedelta(minutes=5):
            # for the next iteration, sets current to prev
            dt_prev = dt_current
            
            # if file name for a station does not exist will create one where you can input the station name
            if file_name == "":
                i = dt_current.strftime("%d_%m_%yT%H%M%S")
                # this is so can look up timestamp on spreadsheet and label site
                print('Old time: ' + str(dt_current))
                # edit in later, to name site during run
                site = input("What is the site ID?")
                file_name = 'MBON_{}_site_{}.txt'.format(i, site)
                newfile = open(folder_name + file_name, "a")
                newfile.write(line_of_text)
            else:
                newfile = open(folder_name + file_name, "a")
                newfile.write(line_of_text)
                
        # if >5 mins will allow a new start for a new station
        else:
            dt_prev = dt_current
            i = dt_current.strftime("%d_%m_%yT%H%M%S")
            # this is so can look up timestamp on spreadsheet and label site
            print('Old time: ' + str(dt_current))
            # edit in later, to name site during run
            site = input("What is the site ID?")
            #site = site + 1         #edit out later
            file_name = 'MBON_{}_site_{}.txt'.format(i,site)
            newfile = open(folder_name + file_name, "a")
            newfile.write(line_of_text)
        line_of_text = f.readline()
f.close()